/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running Drosophila melanogaster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run denovogenes.nf -profile dmel,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Dmel profile'
    config_profile_description = 'Drosophila melanogaster dataset'

    // Input data
    //taxids      = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/Dmel_taxids.tsv"
    gendir      = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/"
    tree        = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/list_tree_corr.nwk"
    focal       = "Dmel"
    //genera_db   = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/diamonddb/NR_DB/"
    //genera_out  = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/7227_gene_ages.tsv"
    //trgs        = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/TRGs.txt"
    trg_rank    = null
    blastdir    = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/blast_out/"
    trgsblastdir    = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/PIPELINE/data/DMEL/blast_out/"
    strategy    = 1
    synteny     = true
    outdir      = "DMEL_results"
}