/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run denovogenes.nf -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 1
    max_memory = '2.GB'
    max_time   = '6.h'

    // Input data
    taxids      = "${projectDir}/data/test/taxids.tsv"
    gendir      = "${projectDir}/data/test/"
    tree        = "${projectDir}/data/test/Catarrhini_species_corr.nwk"
    focal       = "Hsap_reduced"
    trg_rank    = "order"
    genera_out  = "${projectDir}/data/test/9606_gene_ages.tsv"
    //trgs        = "${projectDir}/data/test/TRG_50.txt"
    strategy    = 1
    synteny     = true
    blastdir    = false
    orthodir    = false
    outdir      = "denovogenes_results"
    //genera_db   = "/store/EQUIPES/BIM/MEMBERS/paul.roginski/diamonddb/NR_DB/"

}